/*Irene Cabeza Chacón*/

/*Estilo de todo el cuerpo de la página*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilo del título y de la tabla*/
h1, table{
    width: 100%;
    background-color: white;
    text-align: center;
    border: 2px solid #008037;
    border-radius: 4px;
    padding: 2% 0;
}

/*Estilo para que los bordes de la tabla se fusionen y no estén separados*/
table{
    border-collapse: collapse;
}

/*Estilo de cada celda de la tabla*/
td{
    border: 1px solid #545454;
    padding: 8px;
}

/*Estilo de la primera fila de la tabla*/
#fila1{
    background-color: #008037;
}

/*Estilo de la tercera columna de la tabla de avisos*/
#col3{
    background-color: rgb(215, 100, 100);
}

/*Estilo de la tabla en la que se encuentran los campos del formulario de añadir*/
.tabla_añadir, .tabla_añadir td{
    border: none;
}

/*Estilo de cada columna de la tablas de la página Linea de detalle*/
.ldd--col{
    width: 33%;
    padding: 8px;
    border: none;
}

/*Estilo de la tabla cuya clase es ldd en la página de Linea de detalle*/
.ldd{
    margin-top: 2%;
   border-bottom: 2px solid #008037;
}

/*Estilo de la fila que se añade a una tabla ya existente en la página Línea de detalle*/
.ldd--row{
    border-top: none;
    border-bottom: 2px solid #008037;
}

/*Estilo para el contenedor de paginación*/
#contenedor_paginacion{
    display: flex;
}

/*Estilo para el contenedor de la barra de búsqueda*/
#contenedor_busqueda {
    margin-left: auto; 
    margin-right: 10px;
}

/*Estilo para la barra de búsqueda*/
#barraBusqueda {
    margin-right: 10px;
    margin-top: 5.5px;;
}

/*Estilo para los botones de paginación*/
.paginacion-boton{
    background-color: #008037;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}

/*Estilo cuando se pasa el cursor sobre los botones de paginación*/
.paginacion-boton:hover, .button:hover{
    background-color: #006022;
}

/*Estilo del botón de paginación que está activo, para indicar en qué página estamos*/
.paginacion-boton.active {
    background-color: #006022;
    color: white;
}

/*Estilo de los botones de añadir elementos en los listados*/
.button{
    display: inline-block;
    border-radius: 4px;
    background-color: #008037;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 14px 20px;
    width: 15%;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/*Estilo del contenedor del formulario de añadir y el botón de añadir*/
#contenido{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    margin-left: 15%;
}

/*Estilo del formulario*/
form{
    background-color: white;
    border: 2px solid #008037;
    border-radius: 4px;
    padding: 10px 20px;  
    width: 30%;
}

/*Estilo de las etiquetas del formulario*/
label{
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

/*Estilo de los campos de entrada del formulario*/
input, select{
    width: 99%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo del botón del formulario de añadir*/
input[type="submit"] {
    width: 100%;
    background-color: #008037;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

/*Estilo cuando se pasa el cursor sobre del botón de añadir del formulario*/
input[type="submit"]:hover {
    background-color: #006022;
}

/*Estilo del botón de volver atrás*/
.button_volver{
    display: inline-block;
    border-radius: 4px;
    background-color: #008037;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 14px 20px;
    cursor: pointer;
    margin-top: 430px;
    margin-left: 100px;
    margin-right: auto;
}

/*Estilo para ocultar la barra de desplazamiento*/
::-webkit-scrollbar{
    display: none;
}