/*Irene Cabeza Chacón*/

/*Estilo de todo el cuerpo de la página*/
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Estilo del contenedor de la imagen de perfil*/
#imagen{
    margin-right: 20px;
}

/*Estilo de la imagen de perfil*/
#img-user{
    width: 100%;
    max-width: 115px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #008037;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

/*Estilo del título y de la tabla*/
h1, table{
    width: 100%;
    background-color: white;
    text-align: center;
    border: 2px solid #008037;
    border-radius: 4px;
    padding: 2% 0;
}

/*Estilo del contenedor de la contraseña para manejar las imágenes correctamente*/
.password-container{
    position: relative;
    display: flex;
    align-items: center;
}

/*Estilo del input de la contraseña*/
#pass{
    width: 100%;
    padding-right: 30px;
}

/*Estilo de las imágenes de mostrar y ocultar contraseña*/
.show-pass, .hide-pass{
    width: 13px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: -30px;
    padding-bottom: 12px;
}

/*Estilo del contenedor de la imagen y el formulario*/
#contenido{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 40%;
    flex-direction: row;
}

/*Estilo del formulario*/
form{
    background-color: white;
    border: 2px solid #008037;
    border-radius: 4px;
    padding: 10px 20px;  
    width: 300%;
}

/*Estilo de las etiquetas del formulario*/
label{
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

/*Estilo de los input del formulario*/
input{
    width: 99%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Estilo del botón de guardar los datos del formulario*/
.button{
    width: 99%;
    background-color: #008037;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    text-align: center;
    font-size: 16px;
}

/*Estilo cuando se pasa el cursor sobre el botón de guardar los datos del formulario*/
.button:hover{
    background-color: #006022;
}

/*Estilo del input del código de empleado*/
#codigo{
    background-color: #CCCCCC;
}

/*Estilo para ocultar la barra de desplazamiento*/
::-webkit-scrollbar{
  display: none;
}